<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhoneBook</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
  <div class="back">
    <a href="/">
        <span><i class="fa-solid fa-backward fa-shake fa-2xl"></i></span>
    </a>
  </div>
  <div class="box">
    <header>
        <h1 style="text-align: center;">PhoneBook</h1>
    </header>
    <form action="/" method="post">
      <div class="head">
        <label for="head">First Name</label>
        <input class="inputBox" type="text" name="name1" value=""><br>
        <label for="head">Last Name</label>
        <input class="inputBox" type="text" name="name2" value=""><br>
        <label for="head">Mobile No</label>
        <input class="inputBox" type="number" name="phone" value=""><br>
        <center><button id="submit" type="submit" name="save">Save</button></center>
      </div>
    </form>
  </div>
</body>
</html>
